In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = np.random.randint(0,100,(10,2))

In [5]:
data

array([[61, 95],
       [59, 97],
       [60, 41],
       [75, 85],
       [34, 11],
       [13,  2],
       [71, 32],
       [76, 26],
       [75, 58],
       [75, 56]])

In [6]:
scaler_model = MinMaxScaler()

In [7]:
type(scaler_model)

sklearn.preprocessing._data.MinMaxScaler

In [8]:
scaler_model.fit(data)

MinMaxScaler()

In [9]:
scaler_model.transform(data)

array([[0.76190476, 0.97894737],
       [0.73015873, 1.        ],
       [0.74603175, 0.41052632],
       [0.98412698, 0.87368421],
       [0.33333333, 0.09473684],
       [0.        , 0.        ],
       [0.92063492, 0.31578947],
       [1.        , 0.25263158],
       [0.98412698, 0.58947368],
       [0.98412698, 0.56842105]])

In [10]:
scaler_model.fit_transform(data)

array([[0.76190476, 0.97894737],
       [0.73015873, 1.        ],
       [0.74603175, 0.41052632],
       [0.98412698, 0.87368421],
       [0.33333333, 0.09473684],
       [0.        , 0.        ],
       [0.92063492, 0.31578947],
       [1.        , 0.25263158],
       [0.98412698, 0.58947368],
       [0.98412698, 0.56842105]])

In [11]:
my_data = np.random.randint(0,101,(50,4))

In [12]:
my_data

array([[ 94,  50,  28,  52],
       [ 16,  12, 100,  30],
       [ 14,  22,  99,  86],
       [ 57,  36,  11,  29],
       [ 15,  65,  35,  97],
       [ 37,  61,  72,  30],
       [ 18,   6,  55,  48],
       [ 11,  93, 100,  90],
       [100,  65,   5,   7],
       [ 55,  55,  98,  42],
       [ 28,  29,  39,  71],
       [ 29,  79,  28,  43],
       [  8,  25,  58,   1],
       [ 29,  40, 100,  17],
       [ 20,  74,  43,  31],
       [ 44,  23,  69,  58],
       [ 47,  46,  17,  81],
       [ 33,  81,  12,   6],
       [ 89,  81,  77,  25],
       [ 77,  53,  18,  62],
       [ 85,  99,  24,  87],
       [ 49,  39,  35,   7],
       [ 93,  32,  72,  87],
       [  9,  40,  54,   2],
       [ 40,  28,  22,  86],
       [ 48,  99,  54,  77],
       [ 10,  13,  13,  72],
       [ 56,  99,  45,  77],
       [ 60,  93,  28,  27],
       [ 20,  52,  13,  63],
       [ 54,  51,  81,  27],
       [  5,  40,  96,  73],
       [ 18,  30,  73,  90],
       [ 83,  93,  39,   1],
       [ 12,  16,  85,  30],
       [ 19,  36,  25,  23],
       [ 33,  51,  17,  55],
       [ 37,   2,  34,  71],
       [ 54,  43,  76,   9],
       [ 37,  37,  98,  80],
       [ 27,  45,  45,  51],
       [ 95,  97,  40,  32],
       [ 48,  48,  53,  49],
       [ 23,  81,  44,   3],
       [ 79,  62,  17,  55],
       [ 83,  24,  40,  74],
       [ 82,  67,  24,  21],
       [ 39,  24,  71,  67],
       [ 59,  70,  82,  56],
       [ 64,  68,   7,  96]])

In [22]:
df = pd.DataFrame(data=my_data, columns = ['f1', 'f2', 'f3', 'label'])

In [23]:
df

     f1  f2   f3  label
0    94  50   28     52
1    16  12  100     30
2    14  22   99     86
3    57  36   11     29
4    15  65   35     97
5    37  61   72     30
6    18   6   55     48
7    11  93  100     90
8   100  65    5      7
9    55  55   98     42
10   28  29   39     71
11   29  79   28     43
12    8  25   58      1
13   29  40  100     17
14   20  74   43     31
15   44  23   69     58
16   47  46   17     81
17   33  81   12      6
18   89  81   77     25
19   77  53   18     62
20   85  99   24     87
21   49  39   35      7
22   93  32   72     87
23    9  40   54      2
24   40  28   22     86
25   48  99   54     77
26   10  13   13     72
27   56  99   45     77
28   60  93   28     27
29   20  52   13     63
30   54  51   81     27
31    5  40   96     73
32   18  30   73     90
33   83  93   39      1
34   12  16   85     30
35   19  36   25     23
36   33  51   17     55
37   37   2   34     71
38   54  43   76      9
39   37  37   98     80
40   27  45   45     51
41   95  97   40     32
42   48  48   53     49
43   23  81   44      3
44   79  62   17     55
45   83  24   40     74
46   82  67   24     21
47   39  24   71     67
48   59  70   82     56
49   64  68    7     96

In [25]:
X = df[['f1', 'f2', 'f3']]

In [27]:
Y = df[['label']]

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
train_test_split

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.33, random_state=42)

In [34]:
x_train.shape

(33, 3)

In [35]:
y_train.shape

(33, 1)

In [38]:
x_test.shape

(17, 3)

In [39]:
y_test.shape

(17, 1)